.product__title {
  color: var(--preto);
  font-size: var(--fonte-titulo-24);
  font-weight: 500;
  padding-bottom: 0.5rem;
}

@media screen and (min-width: 1024px) {
  .product__title {
    font-size: 3.5rem;
  }
}
