.cabecalho {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
}

.cabecalho__botao {
  box-sizing: border-box;
  padding: 0.5rem 3rem;
}

.cabecalho__busca--lupa {
  background-image: url(../img/lupa.svg);
  background-size: cover;
  background-repeat: no-repeat;
  display: inline-block;

  height: 24px;
  width: 24px;
}
