.destaque {
  background-image: url(../img/banner.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 1rem;
  height: 200px;

  display: flex;
}

.destaque__conteudo {
  align-self: flex-end;
  padding-bottom: 1rem;
}

.destaque__titulo {
  color: #fff;
  font-size: 1.375rem;
  padding-bottom: 0.5rem;
}

.destaque__subtitulo {
  color: #fff;
  font-size: 0.875rem;
  padding-bottom: 1.5rem;
}

.destaque__botao {
  box-sizing: border-box;
  padding: 0.75rem 1rem;
}

@media screen and (min-width: 768px) {
  .destaque {
    background-size: 100% 100%;
    height: 350px;
  }

  .destaque__titulo {
    font-size: 3.25rem;
  }

  .destaque__subtitulo {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 1024px) {
  .destaque__conteudo {
    margin-left: 9.375rem;
    margin-bottom: 2rem;
  }
}
