.rodape {
  background-color: var(--azul-bg);
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 3;
  padding-top: 2rem;
}

.rodape__logo {
  grid-row: 1;
  margin: 0 auto;
}

.rodape__conteudo {
  grid-row: 2;
  text-align: center;
  padding-bottom: 2rem;
}

.rodape__item {
  padding-bottom: 1rem;
}

.rodape__item:last-child {
  padding-bottom: 0;
}

.rodape__logo {
  height: 50px;
  padding-bottom: 1rem;
}

.rodape__link {
  color: var(--preto);
  display: block;
  padding-bottom: 1rem;
}

.rodape__link:last-child {
  padding-bottom: 0;
}

.rodape__contato {
  color: var(--preto);
  font-weight: 700;
  padding: 1rem;
}

.rodape__contato fieldset {
  padding-bottom: 0.5rem;
}

.rodape__input--nome {
  box-sizing: border-box;
  padding-bottom: 1rem;
}

.rodape__input--nome span,
.rodape__textarea span {
  font-size: 0.75rem;
  font-weight: 400;
  color: var(--cinza-claro);
  cursor: text;
  padding-top: 0.5rem;
  padding-left: 0.75rem;
  pointer-events: none;
  position: absolute;
  z-index: 1;
}

.rodape__input--nome input {
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
  box-shadow: 0px 1px 0px var(--cinza-shadow);
  font-family: inherit;
  height: 56px;
  padding-top: 0.5rem;
  padding-left: 0.75rem;
  margin-bottom: 1rem;
  width: 100%;
}

.rodape__textarea span {
  padding-top: 0.75rem;
  font-size: 1rem;
}

.rodape__mensagem {
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
  box-shadow: 0px 1px 0px var(--cinza-shadow);
  font-family: inherit;
  min-height: 56px;
  width: 100%;
  padding-left: 0.75rem;
  padding-top: 2rem;
}

.rodape__botao {
  border: none;
  box-sizing: border-box;
  padding: 0.75rem 1rem;
  margin-top: 1rem;
}

.licenca {
  background-color: #fff;
  color: var(--preto);
  text-align: center;
  padding: 1rem;
}

@media screen and (min-width: 768px) {
  .rodape {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: repeat(3, auto);
  }

  .rodape__logo {
    grid-row: 1;
    margin: 0;
    padding-left: 1rem;
  }

  .rodape__conteudo {
    grid-row: 2/3;
    padding: 0 1rem 1rem 1rem;
    text-align: left;
  }

  .rodape__contato {
    grid-column: 2;
    grid-row: span 2;
  }

  .rodape__input--nome input {
    width: 90%;
  }
  .rodape__mensagem {
    display: block;
    height: 82px;
    width: 90%;
  }

  .rodape__textarea span {
    display: block;
  }

  .licenca {
    grid-column: span 2;
  }
}

@media screen and (min-width: 1024px) {
  .rodape {
    grid-template-columns: repeat(3, auto);
  }

  .rodape__logo {
    grid-column: 1;
    grid-row: 1;
  }

  .rodape__conteudo {
    grid-column: 2;
    grid-row: span 2;
    padding-top: 1rem;
  }

  .rodape__contato {
    grid-column: 3;
    grid-row: span 2;
    padding-bottom: 1rem;
  }

  .licenca {
    grid-row: 3;
    grid-column: span 4;
  }
}
