@import url(../components/cartao.css);

.produtos__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 1rem;
}

.produtos__titulo {
  color: var(--preto);
  display: inline-block;
}

.produtos__link {
  display: block;
  font-size: 0.875rem;
  font-weight: 700;
  float: right;
}

.produtos__link::after {
  display: inline-block;
  content: "";
  background-image: url(../img/seta.svg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 10px;
  margin-left: 0.5rem;

  width: 10px;
}

.galeria {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 0.5rem;
}

.produto--mobile--hidden {
  display: none;
}

@media screen and (min-width: 768px) {
  .galeria {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
  }

  .produtos__titulo {
    font-size: 1.5rem;
  }

  .produtos__link {
    font-size: 1rem;
  }
}

@media screen and (min-width: 1024px) {
  .galeria {
    grid-template-columns: repeat(6, 1fr);
  }

  .produto--mobile--hidden {
    display: grid;
  }
}
