.banner__title {
  color: var(--branco);
  font-size: 1.5rem;
  font-weight: 600;
}

@media screen and (min-width: 768px) {
  .banner__title {
    font-size: 2rem;
  }
}

@media screen and (min-width: 1024px) {
  .banner__title {
    font-size: 3.5rem;
  }
}
