.footer__topContent {
  background-color: var(--azul-20);
  padding: 1rem;
}

@media screen and (min-width: 768px) {
  .footer__topContent {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: repeat(2, auto);
    padding: 1rem 2rem;
  }
}

@media screen and (min-width: 1024px) {
  .footer__topContent {
    grid-template-columns: 40% 60%;
    padding: 1rem 8rem;
  }

  .footer__topContent--grid {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(2, auto);
  }
}
