@import url(./header/header.css);
@import url(../components/botao.css);
@import url(../css/gallery/_gallery.css);
@import url(./footer/footer.css);

:root {
  --azul-20: #d4e4fa;
  --azul-80: #5595e9;
  --azul: #2a7ae4;
  --azul-bg: #eaf2fd;
  --cinza-shadow: #c8c8c8;
  --cinza-claro: #a2a2a2;
  --cinza-input: #f5f5f5;
  --branco: #fff;
  --preto: #464646;

  --fonte-titulo-24: 1.5rem;
  --fonte-pequena-14: 0.75rem;

  --bg-clr-cinza: #f5f5f5;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: var(--azul);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  line-height: normal;
}

h1 {
  font-weight: 700;
}

input:focus {
  outline: none;
}

textarea:focus {
  outline: none;
}

.container {
  padding: 1rem;
}

.title {
  font-weight: 600;
  font-size: var(--fonte-titulo-24);
}

.input {
  border: none;
  border-radius: 4px;
  box-shadow: 0px 2px 0px 0px var(--cinza-shadow);
  font-family: inherit;
  font-size: 1rem;
  line-height: 17px;
  margin: 0;
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
  padding-top: 2rem;
  padding-left: 1rem;
  z-index: 0;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .container {
    padding: 2rem;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    padding: 4rem 9.375rem 0 9.375rem;
  }

  .container:last-child {
    padding-bottom: 4rem;
  }
}
