:root {
  --azul-20: #d4e4fa;
  --azul-80: #5595e9;
  --azul: #2a7ae4;
  --azul-bg: #eaf2fd;
  --cinza-shadow: #c8c8c8;
  --cinza-claro: #a2a2a2;
  --branco: #fff;
  --preto: #464646;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: var(--azul);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  line-height: normal;
}

h1 {
  font-weight: 700;
}

.container {
  padding: 1rem;
}

input:focus {
  outline: none;
}

textarea:focus {
  outline: none;
}
