@import url(./_gallery__header.css);
@import url(../card/card.css);

.gallery {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(2, auto);
  padding: 1rem;
}

.gallery__allproducts {
  background-color: var(--bg-clr-cinza);
}

@media screen and (min-width: 768px) {
  .gallery {
    grid-template-columns: repeat(4, auto);
    padding: 1rem 2rem;
  }
}

@media screen and (min-width: 1024px) {
  .gallery {
    grid-template-columns: repeat(6, auto);
    padding: 1rem 8rem;
  }
}
