@import url(./_gallery__title.css);
@import url(./_gallery__link.css);
@import url(../card/card.css);

.gallery {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);
  padding: 1rem;
}

@media screen and (min-width: 768px) {
  .gallery {
    grid-template-columns: repeat(4, auto);
    padding: 1rem 2rem;
  }
}

@media screen and (min-width: 1024px) {
  .gallery {
    grid-template-columns: repeat(6, auto);
  }
}
